/* Genel padding tanımı - geniş ekranlar için */
.container-fluid {
    padding-left: 90px;
}

/* Mobil ekranlar için - 768px ve altı */
@media (max-width: 768px) {
    .container-fluid {
        padding-left: 20px;
        padding-right: 20px;
        padding-top:20px
    }
}

.imgHeight{
    height: 40px;
}

.iconMarginRight{
    margin-right: 10px;
}

.iconBadgeColor{
    background-color: #744BFC;
}

.ulLogout{
    margin-left: 15px;
}
/* Mobil ekranlar için - 768px ve altı */
@media (max-width: 768px) {
    .ulLogout {
        margin-left: 0px;
    }
}

.logOutButton{
    border-radius: 50px;
}

/* Mobil ekranlar için - 768px ve altı */
@media (max-width: 768px) {
    .logOutButton {
        margin-top: 10px;
    }
}
