<div class="container-fluid">

  <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <!-- Logo solda hizalanmış -->
    <a class="navbar-brand" href="#">
      <img src="assets/logo.png" class="imgHeight">
    </a>

     <!-- Menü, mobilde açılır bir hale gelir -->
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Menü öğeleri ortada hizalanmış -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav d-flex justify-content-evenly w-100">
        <li class="nav-item">
          <a class="nav-link text-black" href="#">Hakkımızda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black" href="#">Jüri-Yarısma Yazılımı</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black" href="#">Word Ninja</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black" href="#">Word Pyramids</a>
        </li>
      </ul>
  
    <!-- Sosyal medya ikonları sağda hizalanmış -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item iconMarginRight" >
        <span class="badge iconBadgeColor">
          <a href="#"><i class="bi bi-youtube text-white"></i></a>
        </span>
      </li>
      <li class="nav-item iconMarginRight">
        <span class="badge iconBadgeColor">
          <a href="#"><i class="bi bi-instagram text-white"></i></a>
        </span>
      </li>
      <li class="nav-item iconMarginRight">
        <span class="badge iconBadgeColor">
          <a href="#"><i class="bi bi-behance text-white"></i></a>
        </span>
      </li>
      <li class="nav-item iconMarginRight">
        <span class="badge iconBadgeColor" >
          <a href="#"><i class="bi bi-linkedin text-white"></i></a>
        </span>
      </li>
    </ul>

    <!-- LOGOUT butonu -->
     <ul class="navbar-nav ulLogout">
      <li class="nav-item ">
        <button class="btn btn-danger logOutButton" (click)="logOutClick()">
          <i class="bi bi-box-arrow-right fs-3"></i>
        </button>
      </li>
     </ul>
  </div>

  </nav>
  
</div>

