<div class="container-fluid mt-3">
    <div class="row">

        <!-- SEARCHBAR AND FİLTER -->
      <div class="col-12 col-md-6 d-flex align-items-center" style="padding: 15px;">
          <div class="input-group rounded-5 search-bar" >
            <input #s 
                type="text" 
                placeholder="Search objects..." 
                (keyup.enter)="searchFunction(s.value)" 
                [value]="searchTerm" 
                class="searchInput"
            >
            <button class="btn btn-search" type="button" (click)="searchFunction(s.value)">
              <i class="bi bi-search"></i>
            </button>
        </div>

        <button class="btn btn-filter">
            <i class="bi bi-funnel-fill"></i>
        </button>
      </div>

        <!-- +YENİ HESAP EKLEME -->
      <div class="col-12 col-md-6 d-flex align-items-center justify-content-end" style="padding: 15px; ">
        <button class="btn" style="background-color: #744BFC; border-radius: 20px; color: white; padding: 13px;">
            <i class="bi bi-plus-lg"> </i>
            Yeni Hesap Ekle
        </button>
      </div>
      
      <!-- NOT FOUND PAGE -->
      <app-not-found 
        [visible]="visible"
        notFoundMessage="Aradığınız isim bulunamadı..."
        resetLinkText="Anasayfaya Dön"
      >
      </app-not-found>

      <!-- TABLO -->
      <div class="col-12 col-md-12" style="padding: 15px;" *ngIf="!visible">
        <div class="table-container"> 
            <div class="table-responsive">
                <table class="table table-striped table-bordered rounded-table ">
                    <thead >
                    <tr>
                      <th scope="col" style="width: 30%; background-color: white;">Sosyal Medya Linki</th>
                      <th scope="col" style="width: 30%; background-color: white;">Sosyal Medya Adı</th>
                      <th scope="col" style="width: 40%; background-color: white;">Açıklama</th>
                      <th scope="col" style="width: 40%; background-color: white;">Düzenle/Sil</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let element of socialDatas">
                      <td>{{element.link}}</td>
                      <td>{{element.name}}</td>
                      <td>{{element.description}}</td>
                      <td>Düzenle/Sil</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
      </div>



    </div>
  </div>
  