// MODAL SCSS

.modalEditButton{
    color: white;
    padding: 5px 10px 5px 10px;
    background-color: #744BFC;
    border-radius: 10px;
}



.modal-header{
    border-bottom: none;
}

.modal-body{
    padding: 40px;
}

.modal-footer{
    border-top: none;
    padding-right: 0px;
    padding-left: 0px;
}

.modal-content{
    border-radius: 20px;
}

.form-label{
    margin-bottom: 0.2rem;
}

.modal-text{
    color: #06163A;
    font-size: 18px;
    font-weight: 500;
}

.modal-input{
    border-radius: 30px;
    padding: 12px;
}

.modal-exit-button{
    background-color: #F5F7FF; 
    color: #744BFC;
    font-size: 18px;
    font-weight: 500;
    border-radius: 30px;
    padding: 8px 20px 8px 20px;
    margin-right: 20px;
}

.modal-create-button{
    background-color: #744BFC; 
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 30px;
    padding: 8px 20px 8px 20px;
    margin-right: 0px;
}

.modal-save-button{
    background-color: #cdda20; 
    color: black;
    font-size: 18px;
    font-weight: 500;
    border-radius: 30px;
    padding: 8px 20px 8px 20px;
    margin-right: 0px;
}

.modal-delete-button{
    background-color: #e41a1a; 
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 30px;
    padding: 8px 20px 8px 20px;
    margin-right: 0px;
}